[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
lxml = "*"
ibm-watson = "*"
pillow = "*"
torchvision = "*"
torchaudio = "*"
ipywidgets = "*"
notebook = "*"
flask = "*"
flask-cors = "*"
openai = "*"
ibm-watson-machine-learning = "*"
huggingface-hub = "*"
langchain = "*"
gradio = "*"
transformers = "*"
torch = "*"
langchain-openai = "*"
langchain-community = "*"
vllm = "*"
asyncio = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
